<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <ul class="breadcrumb">
    <li>
      <h4 class="page-title"></h4>
    </li>
    <li class="breadcrumb-item bcrumb-1" style="color: #6c757d!important;">
      <a [routerLink]="'/dashboard/home'">
        <i class="fa fa-solid fa-house"></i>

      </a>
    </li>
    <li class="breadcrumb-item" style="color: #6c757d!important;" >Profil</li>

  </ul>
</div>
<div class="container-xl px-4 mt-4">
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Photo de profil</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <img [src]="imageToShow"
               alt="Place image title"
               *ngIf="!isImageLoading; else noImageFound" style="width: 160px;  height: 160px;object-fit: contain;clip-path:ellipse(40% 40%);">
          <ng-template #noImageFound>
            <img src="assets/user.png" style="width: 160px;  height: 160px;" alt="">
          </ng-template>
          <!-- Profile picture help block-->
          <div class="small font-italic text-muted mb-4">JPG ou PNG ne dépassant pas 5 Mo</div>
          <!-- Profile picture upload button-->
          <!--
                    <button class="btn btn-primary" type="button"> Modifier photo de profil </button>
          -->
         <!-- <app-file-upload></app-file-upload>-->
          <div class="col">
            <div class="row">
              <label class="btn btn-default p-0">
                <input type="file" accept="image/png, image/jpeg" style="font-size: .8em;
                  color: #6c757d!important;    padding: 0px;
                  " (change)="selectFile($event)"/>
              </label>
            </div>
            <div class="text-center">
              <button class="btn btn-success btn-sm " [disabled]="!selectedFiles" (click)="upload()">
                Upload
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header">Détails compte</div>
        <div class="card-body">
          <form [formGroup]="profilForm">
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputFirstName">Nom</label>
                <input class="form-control" id="inputFirstName" type="text" placeholder="Entrer votre nom "
                       formControlName="firstname" [(ngModel)]="userUpdate.firstName">
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLastName">Prénom</label>
                <input class="form-control" id="inputLastName" type="text" placeholder="Enter your prénom"
                       formControlName="lastname" [(ngModel)]="userUpdate.lastName">
              </div>
            </div>

            <!-- Form Group (email address)-->
            <div class="mb-3">
              <label class="small mb-1" for="inputEmailAddress">Email </label>
              <input class="form-control" id="inputEmailAddress" type="email" placeholder="Entrer votre email "
                     formControlName="email" [(ngModel)]="userUpdate.email">
            </div>
            <div class="mb-3">
              <label class="small mb-1" for="inputEmailAddress">Mot de passe </label>
              <input class="form-control"  type="password" placeholder="Entrer votre mot de passe "
                     formControlName="email" [(ngModel)]="userUpdate.password">
            </div>
            <!-- Save changes button-->
            <button class="btn btn-primary" type="button" (click)="updateUser()">Modifier</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
