<div mat-dialog-title class="dialog-header">
  <span class="dialog-header-text">
    Supprimer Utlilisateur
  </span>
</div>
<div mat-dialog-content>
  <div class=""d-flex flex-column>
    <div class="p-2 "  class="setting-name"> Voulez-vous vraiment supprimer ce utlilisateur ?</div>

  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button mat-dialog-close class="btn-style-cancel" >Annuler</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn-style-add" (click)="removeRow()">Supprimer</button>
</div>
