mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
  li {
    list-style: none;
  }
}
button {
  outline: none;
  border: 0;
  background: transparent;
}
.user {
  font-size: 14px;
}
mat-toolbar {
  background: #e3e8eb;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  &-icon {
    height: 18px;
    font-size: 16px;
  }
}

::ng-deep {
  .mat-menu-content {
    width: 160px;
  }
}
p{
  color: #004849;
  letter-spacing: 1px;
  font-family: 'Roboto Slab';

  font-size: 12px;
}
.my-dropdown{
  color: #004849;
  letter-spacing: 1px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}
.border-right{
  border-right: solid #eff2f5;
}
.custom-border{
  border:solid #eff2f5;
  border-radius: 5px;
}


