.border-right{
  border-right: 2px solid #e3e8eb;
}
.custom-border{
  border:solid #e3e8eb;
  border-radius: 3px;
}
.my-style{
  color: #262626;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: transparent;
  font-size: larger;
}


