.border-right{
  border-right:  solid #e3e8eb;
}
.custom-border{
  border:solid #e3e8eb;
  border-radius: 3px;
  border-top: #262626;
}

.my_button{
  height: 35px;
}
.container {
  display: block;
  margin : auto;
}
.button {
  background-color: Transparent;
  border: none;
}
button:hover{
  color: #004849;
}


