
<div class=" row custom-border ">
  <div class="col-md-3 border-right m-0">
    connecteur n°1
  </div>
  <div class="col-md-4 border-right m-0">
    <div> web</div>
  </div>
  <div class="col-md-3 m-0  border-right">19-02-2022</div>
  <div class="col-md-2 m-0  border-right ">
    <div class="d-flex justify-content-center ">
      <div class="col-md-4 " style="margin: 1px" >
        <button type="button" class="btn btn-outline-danger button ">
          <span class="material-icons">delete</span>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-outline-info button ">
          <span class="material-icons">info</span>
        </button>
      </div>
    </div>
  </div>
</div>

