.page {
  color: #262626;
  padding: 0 0.5rem;
  background: #f1f5f9;
  &__box {
    min-height: 77px;
    background: #aabbc3;
    margin: 6px -1rem;
    font-size: 16px
  }
  &__content {
    min-height: calc(92vh - 174px);
    border-radius: 10px;
    margin-top: 0.5rem;
    background: transparent;
    color: black;

    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }}
.border-right{
  border-right: 2px solid #e3e8eb;
}
.custom-border{
  border:solid #e3e8eb;
  border-radius: 3px;
}
.my-style{
  color: #262626;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
}

.button {
  background: transparent !important;
  color: #004849;
  font-size: 18px;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: transparent;
  font-size: larger;
}
