

     <mat-card style="box-shadow: #8A2BE2	 0px 2px 23px 0px; margin-top: 350px;margin-left: 100px;margin-right: 100px;"
           class="card" id="card1">
            <div class="card-header">
              
              
                <div>
                  <img  class="image text-center" style="text-align: center;" src="../../../../assets/logo.png" id="img" />

                </div>
            
                <div class="diplayed" style="margin-left:800px">
                   <h1   style="color:#5c3c92;margin-left: -100px;" class="p-merci"> <mat-icon>done_all</mat-icon>Merci d'avoir passer ce test ! </h1>
                    <p>Le resulta sera envoyer par Email</p>
                </div>
            </div>
           
      </mat-card>