
  .main-div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    margin-left: 1000px;
  }
  .diplayed{
    display: block;
    margin-left: auto;
    margin-right: auto
  }
   

  .p-merci{
   
        font-size: 30px;
    }
    
  .image{
    width: 300px;

  }
  .card-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

      
  
