
<div class="flex-container">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-info">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Nombre des Tests</p>
                <!-- <h4 class="my-1 " style="color: #728e9b" >{{nbStatusTotal}}</h4> -->
                <h4 class="my-1 " style="color: #728e9b" >3</h4>
              </div>
              <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i
                class="fa fa-solid fa-filter"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-danger">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Nombre des Langages et Catgeories</p>
                <!-- <h4 class="my-1 text-success" >{{nbStatusActif}}</h4> -->
                  <h4 class="my-1 text-success" >6</h4>
              </div>
              <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
                <i class="fa fa-solid fa-play"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-warning">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Nombre des Candidats</p>
              <!--   <h4 class="my-1 text-warning"  >{{nbStatusInactif}}</h4> -->
                <h4 class="my-1 text-warning"  >4</h4>

              </div>
              <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
                <i class="fa fa-solid fa-pause"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container " >
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4"  >
      <div class="col justify-content-center">
        <div class="card radius-10 border-start border-0 border-3"  style="height: 95%">
          <div id="chart">
            <p class="mb-0 text-secondary mt-3 mb-3" style="text-align: center">Décomposition des collecteurs</p>
            <apx-chart  *ngIf="chartOptions"
              [series]="chartOptions.series!"
              [chart]="chartOptions.chart!"
              [labels]="chartOptions.labels!"
              [responsive]="chartOptions.responsive!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="card radius-10 border-start border-0 border-3" style="width: 204%" >
            <canvas id="areaChart" ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
