<!--
  <div class="pnd">
  <div class="error-message">
      <h1>404</h1>
      <div class="error-text">
          <p>Oops! Seems like you got stranded.</p>
          <p>Let's get you <a href="/"><b>Back To Home</b></a></p>
      </div>
  </div>
</div>
-->



 <div id="main">
  <div id="menu">
    <h1 class="error-text">Nous ne trouvons pas la page recherchée</h1>
    <button class="btn1">Back To Home</button>
  </div>

  <div id="contenu">
   <img  class="displayed" src="../../../assets/404.PNG" alt="kaligamePnotFount" />
  </div>
 </div>

