.page {
  color: #262626;
  padding: 0 0.5rem;
  background: #f1f5f9;
  &__box {
    min-height: 77px;
    background: #aabbc3;
    margin: 6px -1rem;
    font-size: 16px
  }
  &__content {
    min-height: calc(115vh - 178px);
    border-radius: 10px;
    margin-top: 0.5rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  section {
    display: table;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }

  .example-button-row {
    display: table-cell;
    width: 490px;
  }

  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  button {
    height: 28px;
    width: 28px;
    border: 1px solid #aabbc3;
    background-color: rgba(249,250,251,0.97);
    color: #004849;
  }
  .p-3 {
    padding: 0.5rem!important;
  }
  .component-button {
    background: 0;
    height: 56px;
    position: relative;
    width: 56px;
    border: 0;
  }
}
.layout-row>.flex {
  min-width: 0;
}
.layout-row {
  -webkit-box-orient: horizontal;
  flex-direction: row;
}
layout-column, .layout-row {
  -webkit-box-direction: normal;
}
.layout, .layout-column, .layout-row {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
}
.flex, .flex-grow {
  -webkit-box-flex: 1;
  box-sizing: border-box;
}
.layout-align-center-center>*, .layout-align-end-center>*, .layout-align-space-around-center>*, .layout-align-space-between-center>*, .layout-align-start-center>* {
  max-width: 100%;
  box-sizing: border-box;
}
.layout-align-space-between, .layout-align-space-between-center, .layout-align-space-between-end, .layout-align-space-between-start, .layout-align-space-between-stretch {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
p {
  font-family: Lato;
}

.mat-row:not(.mat-no-data-row):hover {
  cursor: pointer;
  background-color: #a4edfc !important;
}
