<div class="row">
  <div class="col-md-4">
    <button  [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
            (click)="menuTrigger.openMenu()" class="btn  btn-primary dropdown-toggle dropdown-toggle-split button border border-dark">
      &nbsp; Ajouter
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <span (click)="menuTrigger.closeMenu()">
       <button mat-menu-item class="my-dropdown button-dropdown">
          <button  mat-button (click)="openDialogFs()" style="padding-left: 0px; padding-right: 0px;">
<!--
            <span class="material-icons">add_circle</span>
-->
&nbsp;&nbsp;          <i class="fa fa-duotone fa-file fa-lg"></i>&nbsp;
            <span>FS</span>
          </button>
        </button>
        <button mat-menu-item class="my-dropdown button-dropdown">
          <button  mat-button (click)="openDialogWeb()" style="padding-left: 0px; padding-right: 0px;">
<!--
            <span class="material-icons">add_circle</span>
-->
&nbsp;&nbsp;          <i class="fa fa-duotone fa-globe fa-lg"></i>&nbsp;
            <span>WEB</span>
          </button>
        </button>
         <button mat-menu-item class="my-dropdown button-dropdown">
          <button  mat-button (click)="openDialogBd()"  style="padding-left: 0px; padding-right: 0px;">
<!--
            <span class="material-icons">add_circle</span>
-->
            &nbsp;<i class="fa  fa-duotone fa-database fa-lg"></i>&nbsp;
            <span>BD</span>
          </button>
        </button>
    </span>
    </mat-menu>
  </div>
</div>


