<div class="row">
  <div class="col-md-4">
    <button  [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
            (click)="menuTrigger.openMenu()" class="btn  btn-primary dropdown-toggle dropdown-toggle-split button border border-dark">
      &nbsp; Ajouter
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <span (click)="menuTrigger.closeMenu()">
       <button  type="button" mat-menu-item class="my-dropdown button-dropdown">
          <button  mat-button (click)="openDialogFs()" style="padding-left: 0px; padding-right: 0px;">
<!--

-->
&nbsp;&nbsp;          <i class="fa fa-duotone fa-file fa-lg"></i>&nbsp;
            <span>Ajouter un Domaine</span>
          </button>
        </button>

    </span>
    </mat-menu>
  </div>
</div>


