
<form class="mt-2">
  <div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between">
      <div class="required-property-note">Champs requis</div>
      <div>
        <button mat-flat-button color="primary" (click)="openDialog()">
          <span class="material-icons fa">add</span>
        </button>
      </div>
    </div>
    <div class="my-table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"   [formGroup]="proprieteForm" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position property -->
        <ng-container matColumnDef="property">
          <th mat-header-cell *matHeaderCellDef> Propriété</th>
          <td mat-cell *matCellDef="let element" class="table-row"  >
            <div class="d-flex flex-row justify-content-between" >
              <span>{{element.property}}</span>
              <mat-icon >help</mat-icon>
            </div>
          </td>
        </ng-container>

        <!-- Name value -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> valeur</th>
          <td mat-cell *matCellDef="let element">
           <!-- <mat-form-field floatLabel="never" style="padding-left: 20px;">
              <input matInput  formControlName="valeurSuivre" placeholder="Aucune valeur définie" [(ngModel)]="proprieteValueSuivre"  (keyup)="sendProprieteValuerSuivre()">
            </mat-form-field>-->
            <mat-form-field floatLabel="never" style="padding-left: 20px;">
               <input formControlName="valeurSuivre" matInput  placeholder="Aucune valeur définie"   [(ngModel)]="element.value" (keyup)="sendProprieteValuerSuivre()">
            </mat-form-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</form>

