<!--<div class="page__content  p-1 ">-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <ul class="breadcrumb">
    <li>
      <h4 class="page-title"></h4>
    </li>
    <li class="breadcrumb-item bcrumb-1" style="color: #6c757d!important;">
      <a [routerLink]="'/dashboard/home'">
        <i class="fa fa-solid fa-house"></i>

      </a>
    </li>
    <li class="breadcrumb-item" style="color: #6c757d!important;" >Connecteurs</li>

  </ul>
</div>
  <div class="d-flex flex-column " style=" margin-left: 10px;">
    <div class="row m-3">
      <div class="col-md-8 p-0 my-style">
        <h4 style="color: #6c757d!important;">Liste des connecteurs</h4>
      </div>
      <div class="d-flex justify-content-md-end ">
      <app-button-action></app-button-action>
    </div>
    </div>
    <div class=" ps-3  text-center " style="  width: 100%; ">
      <app-table-connecor style="  text-align: left;"></app-table-connecor>
  </div>
</div>
