
 <div class="container-fluid page">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput  placeholder="Ex. ium" #input>
  </mat-form-field>


  <div class="mat-elevation-z8">
     <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >


      <ng-container  matColumnDef="name"  >
        <th mat-header-cell  style="width: 1400px" *matHeaderCellDef>Domaine</th>
        <td mat-cell mat-cell *matCellDef="let element" (clik)="toQuestions(element.id)"   >
          {{ element.name }}

        </td>
      </ng-container>

<!--       (click)="toQuestions(element.id)"  -->


      <ng-container matColumnDef="UPDATE/DELETE">
        <th mat-header-cell *matHeaderCellDef>Supp / modif</th>
        <mat-cell style="margin-left: 100px" mat-cell *matCellDef="let element">
          <button style="background-color:red;" type="button" class="btn btn-danger px-3" (click)="delete(element.id)">

                <mat-icon color="white" >delete</mat-icon>



          </button>






          <button
            type="button"

            (click)="edit(element.id, element.name)"
            class="btn btn-info px-4 m-auto"
          >
              <mat-icon color="primary">edit</mat-icon>


          </button>
        </mat-cell>
      </ng-container>

      <!-- Weight Column -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator style="width:98%"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>

