<div mat-dialog-title class="dialog-header">
  <span class="dialog-header-text">
    Ajouter propriété
  </span>
</div>
<div mat-dialog-content>
  <div class=""d-flex flex-column>
    <div class="p-2 "  class="setting-name"> Propriété nom</div>
    <div  style="padding-left: 10px;padding-right: 10px;">
      <mat-form-field floatLabel="never" style="width:100%;">
        <input matInput placeholder="" >
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button mat-dialog-close class="btn-style-cancel" >Annuler</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn-style-add">Ajouter</button>
</div>
