.total{
  display:block;
  width:100%;
}
.totla-header{
  background-color:red;
  width:100%;
}

.button1-temps {
  background-color:rebeccapurple;
  border-color: #069fa9;
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 90%;
  height: 50px;
  margin-left: 50px;
}
.close{
  margin:auto
}
.span-time-out{
  margin: auto;
}.total{
  display:block;
  width:100%;
}
.totla-header{
  background-color:red;
  width:100%;
}

.button1-temps {
  background-color:rebeccapurple;
  border-color: #069fa9;
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 90%;
  height: 50px;
  margin-left: 50px;
}
.close{
  margin:auto
}
.span-time-out{
  margin: auto;
}.total{
  display:block;
  width:100%;
}
.totla-header{
  background-color:red;
  width:100%;
}

.button1-temps {
  background-color:rebeccapurple;
  border-color: #069fa9;
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 90%;
  height: 50px;
  margin-left: 50px;
}
.close{
  margin:auto
}
.span-time-out{
  margin: auto;
}.total{
  display:block;
  width:100%;
}
.totla-header{
  background-color:red;
  width:100%;
}

.button1-temps {
  background-color:rebeccapurple;
  border-color: #069fa9;
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 90%;
  height: 50px;
  margin-left: 50px;
}
.close{
  margin:auto
}
.span-time-out{
  margin: auto;
}.total{
  display:block;
  width:100%;
}
.totla-header{
  background-color:red;
  width:100%;
}

.button1-temps {
  background-color:rebeccapurple;
  border-color: #069fa9;
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 90%;
  height: 50px;
  margin-left: 50px;
}
.close{
  margin:auto
}
.span-time-out{
  margin: auto;
}.total{
  display:block;
  width:100%;
}
.totla-header{
  background-color:red;
  width:100%;
}

.button1-temps {
  background-color:rebeccapurple;
  border-color: #069fa9;
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 90%;
  height: 50px;
  margin-left: 50px;
  text-align: center;
}
.close{
  margin:auto;
  display:flex;
  justify-content:center;
  align-items:center;
}
.span-time-out{
  margin: auto;
}

.email{
  
    margin-left: auto;
    margin-right: auto;
    width: 10em;

}

email-text{
  text-align: center;
  color: #069fa9;

}

